* {
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding-right: 10rem;
  padding-bottom: 10rem;
}

.body {
  background-color: black;
  color: white;
}
/* ESTILO DO CABEÇALHO */

header > .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.menu ul li a:hover {
  color: #ff5563;
  opacity: 0.5s;
}
.menu ul {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

h1 {
  font-size: 4.25rem;
  line-height: 1.2;
  font-family: "Beth Ellen";
}

h2 {
  font-size: 2.625rem;
}

h3 {
  font-size: 1.625rem;
}

h1 span {
  color: #ff5563;
}

p {
  font-size: 1.25rem;
}

.container p {
  margin-bottom: 4.25rem;
}

.container a {
  background-color: #ff5563;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;

  font-size: 1.5rem;
  border-radius: 0.5rem;

  transition: background-color 300ms;
}

.container a:hover {
  background-color: #ff5563;
}

#bg-image {
  background-image: url("https://images.pexels.com/photos/2098134/pexels-photo-2098134.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  inset: 0;
  z-index: -1;

  opacity: 0.3;
}

h1,
p,
a {
  animation: appear 1s backwards;
}

h1 {
  animation-delay: 0.2s;
}

p {
  animation-delay: 0.8s;
}

a {
  animation-delay: 1.6s;
}

@media (width < 40rem) {
  html {
    font-size: 70%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}

.box {
  width: 40rem;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
}
.box h3 {
  margin-top: 0;
  color: #333;
}
.box p {
  color: #666;
  line-height: 1.6;
}

.pin-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png");
  background-size: cover;
}

.local {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.local h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.local p {
  margin: 0;
}
